<%#= form_for :login, url: mails_gmails_path do |f| %>
    <!--<p>-->
      <%#= f.label :username %><br>
      <!--<%#= f.text_field :username %>-->
    <!--</p>-->
<!---->
    <!--<p>-->
      <%#= f.label :password %><br>
      <!--<%#= f.text_area :password %>-->
    <!--</p>-->
<!---->
    <!--<p>-->
      <!--<%#= f.submit 'login' %>-->
    <!--</p>-->
<%# end %>
<% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
<% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
<% end %>